<!-- <input type="text" ng-model="numData" style="width: 70px"> -->
<div style="position: relative;width: 70px;">
	<a href ng-click="clickUp()" class="glyphicon glyphicon-chevron-up" style="position: absolute;z-index:1;right:0;font-size: 10px;"></a>
	<a href ng-click="clickDown()" class="glyphicon glyphicon-chevron-down" style="position: absolute;z-index:1;right:0;top:15px;font-size: 10px;"></a>
	<input type="text" ng-model="numData" style="width: 70px;height: 28px;" class="user">
	<span ng-bind="tip" style="color: red;float: left;"></span>
</div>