body, div , ul, li, h1, h2, h3, h4, h5, h6, p{margin: 0; padding: 0;}
/*pangu portal header*/
.header .panguPortal-index{
	height: 50px;
	width: 160px;
}
.header .panguPortal-index .logo {
	font-size: 20px;
	line-height: 50px;
	float: left;
	width: 135px;
	text-align: center;
}
.header .panguPortal-index .logo a{
	color:#9D9D9D;
	text-decoration: none;
}
.header .panguPortal-index .logo:hover a{
	color: #FFFFFF;
}
.header .panguPortal-index .icon{
	color:#FFFFFF;
	height: 50px;
	float: right;
	line-height: 50px;
	background: #42485b;
	width: 25px;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid #fff;
    margin-top: 2px;
}
/*pangu portal header eend*/
.header > ul .portal-menu > li{
	float: left;
	list-style: none;
	cursor: pointer;
}
.header > ul .portal-menu > li:hover > span a{
	color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}
.header .headerNav .bottom-line.active{
	height: 3px;
	background:#1aeac4;
	position: relative;
	top: -1px;
	width: 100%;
}
.header .headerNav .bottom-line.clickActive{
	height: 3px;
	background:red;
	position: relative;
	top:0px;
	width: 100%;
}
.header .headerNav .bottom-line.clickActive.active{
	background: #1aeac4;
}
.header .headerNav.hoverActive{
	background: #222222;
}
.header .headerNav.hoverActive.clickActive{
	background: #222222;
}
.header .headerNav.clickActive{
	background: #907e7e;
}
.header > ul .portal-menu > li:hover .logo a {
	color: #FFFFFF;
}
.header > ul .portal-menu > li .logo a {
	text-decoration: none;
	color: #9d9d9d;
}
.header > ul .portal-menu > li .logo a:hover{
	color: #FFFFFF;
}
.header > ul .portal-menu > li > span a{
	color: #9d9d9d;
	/*line-height: 60px;*/
	line-height: 50px;
	padding:0 15px;
	text-decoration: none;
}
.header > ul .portal-menu > li .logo {
	padding-left: 0;
	font-size:18px;
}
.header > ul .portal-menu > li > span:hover{
	color: #FFFFFF;
    opacity: 0.9;
}
.header{
	/*height: 63px;*/
	height:53px;
	background:#3e4048;
/*	overflow: hidden;*/
}
.header .subMenu > ul >li {
	float: left;
	list-style: none;
}
.header > ul {
	/*margin: 0 auto;
	width: 1140px;*/
}
.header .subMenu{
	display: none;
	position: absolute;
	width: 100%;
	background:#222222;
	min-height: 90px;
	left: 0;
	z-index: 100;
	/*top: 63px;*/
	top: 53px;
}
.header .subMenu > ul{
	width: 1140px;
	margin: 0 auto;
}
.header .subMenu > ul > li {
	padding: 0 15px;
    padding-top: 20px;
}
.header .subMenu > ul > li:hover > span >a{
	color: red;
}
.header .subMenu > ul > li > span a{
	color: #ece8e8;
	text-decoration: none;
	font-size: 14px;
}
.header .subMenu > ul > li ul li a{
	color: #b5b5b7;
	text-decoration: none;
}
.header .subMenu > ul > li ul li{
	list-style: none;
	padding: 1px 0;
	font-size: 12px;
	width: 75px;
	float: left;
}
.header .subMenu > ul > li ul li:hover a{
	color: #FFFFFF;
}
.header .subMenu > ul > li ul{
	margin-top: 10px;
	padding-bottom: 20px;
	width: 170px;
	overflow: hidden;
}
.header .subMenu.active{
	display: block;
}
.header .useName{
	float: right;
    /*line-height: 60px;*/
   line-height: 50px;
}
.header .useName .user-info{
	cursor: pointer;
	min-width: 85px;
	right: 0;
}
.header .useName .user-info .ng-binding{
	color: #fff;
}
.header .useName a{
	color:#9d9d9d ;
	text-decoration: none;
}
.header .logout{
    width: 80px;
    height: 25px;
    background: #fff;
    text-align: center;
    line-height: 25px;
    /*top: 63px;*/
    /*top: 53px;*/
    right: 0;
    display: none;
    z-index: 200;
    position: relative;
}
.header .useName .user-info:hover .logout{
	display: block;
}

/*side bar搜索*/
.side-bar-content .searchClusters{
	padding: 15px 5px 10px 5px;
}
.side-bar-content .searchClusters .seach-input {
	font-size:10px;
	background:#525050;
	outline: none;
	border: 1px solid #949090;
}
.side-bar-content .searchClusters .search-icon{
	position: absolute;
	right: 10px;
    top: 21px;
    z-index: 10;
    color: #d9d9d9;
    font-size: 10px;
    cursor: pointer;
}
.side-bar-content .searchClusters.cluster-content {
	padding-top: 10px;
}
.side-bar-content .searchClusters.cluster-content .search-icon {
	top: 16px;
}
/*side bar 最新样式*/
.side-bar-content{
 color: #FFFFFF;
 overflow: hidden;
 width: 160px;
 background: #3e4048;
}
.body-content{
	margin-left: 160px;
}
.side-bar-content li{
 list-style: none;
}
.side-bar-content a{
 color:#9d9d9d;
 text-decoration: none;
}
.side-bar-content a:hover{
	color: #FFFFFF;
}
.side-bar-content .sideBar-main {
	width: 160px;
	overflow: hidden;
}
.side-bar-content .sideBar-main .sideBar-group {
    width: 160px;
	overflow: hidden;
	padding:0 0 10px 5px;
	height:250px;
	overflow-y: auto;
    border-bottom: 2px solid #FFFFFF;
}
.side-bar-content .sideBar-main .sideBar-group .group-item a{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: block;
	float: right;
	width:128px;
	padding-left: 5px;
}
.side-bar-content .sideBar-main .sideBar-group .group-item{
	padding: 5px 0;
}
.side-bar-content .sideBar-main .sideBar-group .group-item:hover{
	background:#00c1de;
}
.side-bar-content .sideBar-main .sideBar-group .group-item:hover a{
	color: #FFFFFF;
}
.side-bar-content .sideBar-main .sideBar-group .group-item.active {
	background:#00c1de;
}
.side-bar-content .sideBar-main .sideBar-group .group-item.active a{
	color: #FFFFFF;
}
/*自定义滚动条的样式*/
.sideBar-group::-webkit-scrollbar{
	width:5px;
}
.sideBar-group::-webkit-scrollbar-button{
	display: none;
}
.sideBar-group::-webkit-scrollbar-track{
	width:5px;
}
.sideBar-group::-webkit-scrollbar-track-piece{
	/*background-color: #EBEBEB;*/
	background-color: #3e4048;
}
.sideBar-group::-webkit-scrollbar-thumb{
	/*background-color: #DBDBDB;*/
	border-radius: 4px;
	background-color:#000000
}
/*side bar cluster*/
.side-bar-content .sideBar-main .sideBar-cluster {
    width: 160px;
	overflow: hidden;
	padding:0 0 10px 5px;
	height:390px;
	overflow-y: auto;
}
.side-bar-content .sideBar-main .sideBar-cluster .cluster-item a{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: block;
	float: right;
	width:128px;
	padding-left: 5px;
}
.side-bar-content .sideBar-main .sideBar-cluster .cluster-item{
	padding: 5px 0;
}
.side-bar-content .sideBar-main .sideBar-cluster .cluster-item:hover{
	background:#00c1de;
}
.side-bar-content .sideBar-main .sideBar-cluster .cluster-item:hover a{
	color: #FFFFFF;
}
.side-bar-content .sideBar-main .sideBar-cluster .cluster-item.active {
	background:#00c1de;
}
.side-bar-content .sideBar-main .sideBar-cluster .cluster-item.active a{
	color: #FFFFFF;
}
/*cluster自定义滚动条*/
.sideBar-cluster::-webkit-scrollbar{
	width:5px;
}
.sideBar-cluster::-webkit-scrollbar-button{
	display: none;
}
.sideBar-cluster::-webkit-scrollbar-track{
	width:5px;
}
.sideBar-cluster::-webkit-scrollbar-track-piece{
	/*background-color: #EBEBEB;*/
	background-color: #3e4048;
}
.sideBar-cluster::-webkit-scrollbar-thumb{
	/*background-color: #DBDBDB;*/
	border-radius: 4px;
	background-color:#000000
}







.side-bar-content .side-bar-subMenu{
 /*padding-left: 32px;*/
 display: none;
}
.side-bar-content .side-bar-subMenu.active{
 display: block;
/* background: #42485b;*/
}
.side-bar-content .side-bar-subMenu li{
    padding:5px 10px 5px 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.side-bar-content .side-bar-subMenu li:hover {
	background:#00c1de; 
}
.side-bar-content .side-bar-subMenu li.active{
	background:#00c1de;
}
.side-bar-content .side-bar-subMenu li.active a{
	color: #FFFFFF;
}
.side-bar-content .side-bar-subMenu li:hover a{
	color: #FFFFFF;
}
.side-bar-content .side-bar-level-menu{
 padding:5px 10px;
 background: #42485b;
 /*width: 100px;
 overflow: hidden;*/
}
.side-bar-content .side-bar-level-menu:hover{
	background:#00c1de;
}
.side-bar-content .side-bar-level-menu.active{
	background:#00c1de;
}
.side-bar-content .side-bar-level-menu.active a{
	color: #FFFFFF;
}
.side-bar-content .side-bar-level-menu a{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: block;
	float: right;
	width:118px;
}
.side-bar-content .side-bar-level-menu:hover a{
	color: #FFFFFF;
}
.side-bar-content .side-bar-level-menu span{
 font-size: 10px;
 -webkit-transform:scale(0.8);
 padding-right: 10px;
}