<style type="text/css">

</style>
<div class="modal-header">
  <h3>修改/添加通知</h3>
</div>
<div class="modal-body">
	<div style="margin-top: 20px;">
      <form style="margin-top: 20px;margin-left:30px;">
        <div>
        模板名(<span style="color: red">*</span>): <input type="text" ng-model="inputData.tempName" placeholder="请输入模板名" style="margin-left: 20px;"><br>
        </div>
        <!-- <div style="margin-top: 10px;">
        名称(<span style="color: red">*</span>): <input type="text" ng-model="inputData.name" placeholder="请输入名称" style="margin-left: 34px;"><br>
        </div> -->
         
      </form>
      <div>
      </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="okDesc()">确定</button>
    <button class="btn btn-primary" ng-click="cancelDesc()">取消</button>
</div>
