{% extends 'cluster_base.html' %}

{% block body_content %}
    {#    <h1 class="page-header">书籍列表</h1>#}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center"><b><h3>主机列表</h3></b></div>
        <div class="panel-body" style="height: 10px">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-md-3">

{#                <div class="container">#}
{#                    <form action="" class="parent">#}
{#                        <input type="text" class="search-input" placeholder="搜索">#}
{#                        <input type="button" name="" id="" class="btn">#}
{#                    </form>#}
{#                </div>#}



                    <div class="input-group">
                        <input type="text" class="search" placeholder="Search for...">
                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">搜索</button>
                                </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-md-4 -->
{#                <div class="col-md-3 pull-right">#}
{#                    <a class="btn btn-success pull-right" href="/add_host/"><i class="fa fa-plus fa-fw"></i>添加主机</a>#}
{#                                        <a class="btn btn-success pull-right" href="/update_host/"><i class="fa fa-plus fa-fw"></i>更新主机</a>#}

                    {#                            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">新增</button>#}
                </div>
            </div><!-- /.row -->
            <table class="table table-bordered " >
                <thead>
                <tr>
                    <th><h4>序号</h4></th>
                    <th><h4>ip地址</h4></th>
                    <th><h4>主机名</h4></th>
                    <th><h4>操作系统</h4></th>
                    <th><h4>机型</h4></th>
                    <th><h4>产品</h4></th>
                    <th><h4>机器状态</h4></th>
                    <th><h4>操作</h4></th>
                </tr>
                </thead>
                <tbody>
                {% for host in all_host %}
                    <tr style="height: 10%">
                        <th>{{ forloop.counter }}</th>
                        <td>{{ host.ip }}</td>
                        <td>{{ host.hostname }}</td>
                        <td>{{ host.system_os }}</td>
                        <td>{{ host.machine_type }}</td>
                        <td>{{ host.product }}</td>
                        <td>{{ host.state }}</td>
                        <td>
                            <a class="btn btn-info" href="/check_water/?id={{ host.id }}"><i
                                    class="glyphicon glyphicon-dashboard"></i>Dashboard</a>
                            <a class="btn btn-info" href="/edit_book/?id={{ host.id }}"><i
                                    class="fa fa-pencil fa-fw"></i>Terminal</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


     <ul class="pagination" id="pager">
       {#上一页按钮开始#}
        {# 如果当前页有上一页#}
{#         {% if book_list.has_previous %}#}
             {#  当前页的上一页按钮正常使用#}
{#             <li class="previous"><a href="/host_list/?page={{ book_list.previous_page_number }}">上一页</a></li>#}
{#         {% else %}#}
             {# 当前页的不存在上一页时,上一页的按钮不可用#}
{#             <li class="previous disabled"><a href="/host_list/">上一页</a></li>#}
{#         {% endif %}#}
         {#上一页按钮结束#}
         {# 页码开始#}
         {% for num in paginator.page_range %}

             {% if num == currentPage %}
                 <li class="item active"><a href="/host_list/?page={{ num }}">{{ num }}</a></li>
             {% else %}
                 <li class="item"><a href="/host_list/?page={{ num }}">{{ num }}</a></li>

             {% endif %}
         {% endfor %}
         {#页码结束#}
         {# 下一页按钮开始#}
{#         {% if book_list.has_next %}#}
{#             <li class="next"><a href="#?page={{ book_list.next_page_number }}">下一页</a></li>#}
{#         {% else %}#}
{#             <li class="next disabled"><a href="/host_list/">下一页</a></li>#}
{#         {% endif %}#}
         {# 下一页按钮结束#}
     </ul>

        </div>
    </div>
{% endblock %}