{% extends 'cluster_base.html' %}
{% block body_content %}
   <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="/static/echarts/echarts-gl.min.js"></script>
       <script type="text/javascript" src="/static/echarts/ecStat.min.js"></script>
       <script type="text/javascript" src="/static/echarts/dataTool.min.js"></script>
       <script type="text/javascript" src="/static/echarts/china.js"></script>
       <script type="text/javascript" src="/static/echarts/world.js"></script>
       <script type="text/javascript" src="/static/echarts/bmap.min.js"></script>
        <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center"><b><h3>机器分布情况</h3></b></div>
        <div class="col-md-6">
            <div class="card card-primary">
            <div id="container" style="height: 600px; width: 450px;margin-top: 50px">
            </div>
            </div>

            </div>
               <div class="col-md-6">
    <div id="container3" style="height: 600px; width: 550px;margin-top: 50px">
                 <div class="card card-danger">
                      </div>
                    </div>

               </div>
{#    </div>#}
        </div>
       <script type="text/javascript">
$(function () {
    var dom1 = document.getElementById("container");
var myChart1 = echarts.init(dom1);
var app1 = {};
var kv = new Array();//声明一个新的字典
        kv = {{ data_nc|safe }};//取出后台传递的数据，此处添加safe过滤避免警告
        var test = new Array();//声明一个新的字典用于存放数据
        for (var logKey in kv) {
        //将对应键值对取出存入test，logKey 为该字典的键
          test.push({value: kv[logKey], name: logKey});
        }
option = null;
option = {
    title: {
        text: '物理机',
        {#subtext: '',#}
        right: 'center'
    },
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: ['50%', '70%'],
        data: test
    },
    series: [
        {
            name: '物理机分布情况',
            type: 'pie',
            radius: '50%',
            center: ['50%', '50%'],
            data: test,
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 1, 1, 1, 1, 0.5,)'
                }
            }
        }
    ]
};

var dom3 = document.getElementById("container3");
var myChart3 = echarts.init(dom3);
var app3 = {};
var kv1 = new Array();//声明一个新的字典
        kv1 = {{ data_vm|safe }};//取出后台传递的数据，此处添加safe过滤避免警告
        var test1 = new Array();//声明一个新的字典用于存放数据
        for (var logKey1 in kv1) {
        //将对应键值对取出存入test，logKey 为该字典的键
          test1.push({value: kv1[logKey1], name: logKey1});
        }
option3 = null;
option3 = {
    title: {
        text: 'vm',
        {#subtext: '',#}
        left: 'center'
    },
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: ['50%', '500'],
        data: test1
    },
    series: [
        {
            name: 'vm分布情况',
            type: 'pie',
            radius: '40%',
            center: ['70%', '50%'],
            data: test1,
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};





if (option && typeof option === "object") {
    myChart1.setOption(option, true);
    myChart3.setOption(option3, true)
}
})

       </script>



{% endblock %}